body {
  background-color: rgb(233, 236, 236);
}

.container {
  display: flex;
  height: 430px;
  width: 80%;
  margin:  auto;
}

.manipulation__section{
  margin-left: 110px;
  width: 400px;
}

.image {
  width: 350px;
  height: 410px;
}

.btn {
  
  background-color: rgb(233, 236, 236);
  border-radius: 25px;
  padding: 11px 35px;
  margin: 5px 8px;
  border: 1px solid  rgb(151, 151, 228);
  cursor: pointer;
  color:  rgb(151, 151, 228);
  
}

.btn-alt {
  height: 48px;
  padding: 15px 50px;
  border-radius: 2px;
  background-color: rgb(135, 135, 182);
  border: none;
  color: black;
}

.btn:hover{
  background-color: rgb(151, 151, 228);
  color: aliceblue;
}
 
.btn-alt:hover {
   
  background-color: rgb(151, 151, 228);
}
/* stylling the right accessorize and style button */
.accessorize__active,.btn__style__active{
  background-color: rgb(151, 151, 228);
  color: aliceblue;
}

.buttons {
  justify-content: space-between;
}
/* hide all elements  */
.style{
  display: none;
}
/* display just the activated one  */
.style__active{
  display: contents;
}

.accessorize__buttons__div{
  width: 400px;
}

/*=======================image section ==============*/



.img{
  width: 350px;
  height: 410px;
  position: absolute;
}



@media screen and (max-width: 992px) {
 
  .container{
    display:block;

  }

  .accessorize__div{
    display: flex;
  }

  .accessorize__buttons__div{
    width: 400px;
  }
  .manipulation__section {
    margin-left: 110px;
    width: 400px;
}
}

.haire{
  z-index: 18;
} 
.ears{
  z-index: 3;
} 
.eyes{
  z-index:20 ;
} 
.mouth{
  z-index: 17;
}  
.neck{
  z-index: 6;
}   
.leg{
  z-index: 15;
}
.accessories{
  z-index:20 ;
}
.backgrounds{
  z-index: 1;
}
.nose{
  z-index: 11;
}

